.discover {
    .discover_text {
        color: $light_green;
        font-family: $yellowtail;
        font-size: 36px;
        font-weight: 400;
        margin-top: 177px;
        margin-bottom: 8px;
    }

    .discover_bottons {
        display: flex;
        gap: 478px;
        margin-bottom: 45px;

        .discover_title {
            width: 702px;
            color: $black_1;
            font-family: $roboto;
            font-size: 50px;
            font-weight: 800;
        }

        .discover_btn {
            width: 220px;
            height: 80px;
            color: $black_1;
            font-family: $roboto;
            font-size: 20px;
            font-weight: 700;
            box-sizing: border-box;
            border: 2px solid rgb(39, 76, 91);
            border-radius: 16px;
            background-color: $white;
        }
    }

    .discover_item {
        display: flex;
        gap: 35px;

        .discover_card {
            .discover_card_num {
                position: relative;
                top: 120px;
                left: 30px;
                width: 85px;
                height: 85px;
                padding-top: 30px;
                padding-left: 5px;
                background-color: $white;
                border-radius: 50px;
                color: $black_1;
                font-family: $roboto;
                font-size: 20px;
                font-weight: 800;
                border: none;
            }

            .discover_img {
                width: 791px;
                height: 529px;
                border-radius: 50px;
            }

            .discover_two {
                width: 613px;
                height: 330px;
                background-color: $white;
                border-radius: 50px;
                padding-top: 46px;
                padding-left: 57px;
                position: relative;
                bottom: 250px;
                left: 85px;
                box-shadow: 0px 20px 35px 0px rgba(167, 167, 167, 0.25);

                .discover_two_p {
                    width: 444px;
                    color: $black_1;
                    font-family: $roboto;
                    font-size: 18px;
                    font-weight: 400;
                    padding-bottom: 16px;
                }

                .discover_two_text {
                    color: $black_1;
                    font-family: $roboto;
                    font-size: 25px;
                    font-weight: 800;
                    padding-bottom: 2px;
                }

                .discovertext {
                    color: $black_1;
                    font-family: $roboto;
                    font-size: 25px;
                    font-weight: 400;
                }

                .discover_btn {
                    width: 220px;
                    height: 80px;
                    color: $black_1;
                    font-family: $roboto;
                    font-size: 20px;
                    font-weight: 700;
                    background-color: $yellow;
                    border: none;
                    border-radius: 16px;
                }
            }
        }
    }
}