.type {
    background-color: $light_blue;
    width: 100%;
    height: 957px;
    padding-top: 187px;

    .type_wrapper {
        display: flex;
        justify-content: center;

        .type_item_1 {
            width: 688px;
            height: 688px;
            background: url(../images/type_1.png)no-repeat center;

            .type_btn {
                width: 320px;
                height: 96px;
                color: $black_1;
                font-family: $roboto;
                font-size: 25px;
                font-weight: 500;
                border-radius: 20px;
                border: none;
                background-color: $white;
                margin-top: 297px;
            }
        }

        .type_item_2 {
            margin-top: 50px;
            width: 600px;
            height: 580px;
            background: url(../images/type_2.png)no-repeat center;

            .type_btn {
                width: 320px;
                height: 96px;
                color: $black_1;
                font-family: $roboto;
                font-size: 25px;
                font-weight: 500;
                border-radius: 20px;
                border: none;
                background-color: $white;
                margin-top: 297px;
            }
        }

        .type_item_3 {
            margin-left: 30px;
            margin-top: 50px;
            width: 580px;
            height: 585px;
            background: url(../images/type_3.png)no-repeat center;

            .type_btn {
                width: 320px;
                height: 96px;
                color: $black_1;
                font-family: $roboto;
                font-size: 25px;
                font-weight: 500;
                border-radius: 20px;
                border: none;
                background-color: $white;
                margin-top: 297px;
            }
        }
    }
}