.shop {
    width: 100%;
    margin-bottom: 90px;
    height: 450px;
    background: url(../images/shop_img.png)no-repeat center;
    background-size: cover;

    .shop_title {
        color: $black_1;
        font-family: $roboto;
        font-size: 55px;
        text-align: center;
        padding-top: 12%;
    }
}